//* Brand colour *//
$lr_col_brandBlue = #2299DD
$lr_col_brandBlack = #0A2135

$lr_col_brandBlue-dark = #1C7EB5
$lr_col_brandBlue-light = #4AABE3
$lr_col_brandBlack-dark = #091C2C
$lr_col_brandBlack-light = #364959

$lr_col_sys_Orange-normal = #f6830b
$lr_col_sys_Orange-dark = #CA6C0A
$lr_col_sys_Orange-light = #F79937
$lr_col_sys_Blue-normal = #0076bd
$lr_col_sys_Blue-dark = #00619B
$lr_col_sys_Blue-light = #2E8EC9
$lr_col_sys_LightBlue-normal = #48c9ff
$lr_col_sys_LightBlue-dark = #3BA5D1
$lr_col_sys_LightBlue-light = #69D2FF
$lr_col_sys_green-normal = #00BFA5
$lr_col_sys_green-dark = #009D88
$lr_col_sys_green-light = #2ECAB5
$lr_col_sys_red-normal = #E92D45
$lr_col_sys_red-dark = #BF2539
$lr_col_sys_red-light = #ED5366

$ma_col_grey50 = #fafafa
$ma_col_grey100 = #f5f5f5
$ma_col_grey200 = #eeeeee
$ma_col_grey300 = #E0E0E0
$ma_col_grey400 = #BDBDBD
$ma_col_grey500 = #9E9E9E
$ma_col_grey600 = #757575
$ma_col_grey700 = #616161
$ma_col_grey800 = #424242
$ma_col_grey900 = #212121

//* Opacity *//
$ma_opa_darkText-Primary = 0.8
$ma_opa_darkText-Secondary = 0.54
$ma_opa_darkText-Disabled = 0.38
$ma_opa_darkText-light = 0.12
$ma_opa_lightText-Primary = 1
$ma_opa_lightText-Secondary = 0.7
$ma_opa_lightText-Disabled = 0.5
$ma_opa_lightText-light = 0.12

//* Style Partials *//
$lr_base_text_color = $lr_col_brandBlack 

//* Typography *//
h1, h2, h3, h4, h5, h6
	font-family  'Ubuntu', 'Helvetica', 'Arial', Sans-serif
	color $lr_base_text_color
	// -webkit-font-smoothing antialiased

p, li
	font-family 'Open Sans', 'Helvetica', 'Arial', Sans-serif
	color rgba($lr_base_text_color, $ma_opa_darkText-Primary)
	// font-smoothing antialiased
		

// Size Variations
.type-super
	@media screen and (min-width 768px)
		font-size 4em 
		line-height 100%
	&x1
		@media screen and (min-width 992px)
			font-size 6em
			line-height 100%
	&x2
		@media screen and (min-width 992px)
			font-size 8em
			line-height 105%
.type-small
	@media screen and (min-width 992px)
		font-size .95em
		line-height 150%
	
.type-sub
	font-weight 300
	


	
//* Drop Shadow *//
$drop-shadow-depth-1 = 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
$drop-shadow-depth-2 = 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
$drop-shadow-depth-3 = 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
$drop-shadow-depth-4 = 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
$drop-shadow-depth-5 = 0 16px 28px 0 rgba(0,0,0,.22), 0 25px 55px 0 rgba(0,0,0,.21);
$drop-shadow-depth-6 = 0 27px 24px 0 rgba(0,0,0,.2), 0 40px 77px 0 rgba(0,0,0,.22);