///* global box-sizing *///
html
	box-sizing border-box
*, *:before, *:after
	box-sizing inherit
	
///* Remove Focus outline *///
*:focus
	outline none !important
.btn
	box-shadow none !important

///* Wrapper overflow *///
.wrapper
	overflow hidden
	
///* clearfix *///
.clear:before,
.clear:after
    content ' '
    display table
.clear:after
    clear both
.clear
	*zoom 1

//* Responsive Elements *//
// Mobile (min-width: 320px)
// Mobile landscape (min-width: 568px)
// Tablet (min-width: 768px)
// Desktop (min-width: 992px)
// Desktop HD (min-width: 1200px)