///* global box-sizing *///
html
	box-sizing border-box
*, *:before, *:after
	box-sizing inherit
	
///* Remove Focus outline *///
*:focus
	outline none !important
.btn
	box-shadow none !important

///* Wrapper overflow *///
.wrapper
	overflow hidden
	
///* clearfix *///
.clear:before,
.clear:after
    content ' '
    display table
.clear:after
    clear both
.clear
	*zoom 1