@charset 'utf-8';
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("lr-asset/fonts/material-icon/MaterialIcons-Regular.eot");
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("lr-asset/fonts/material-icon/MaterialIcons-Regular.woff2") format('woff2'), url("lr-asset/fonts/material-icon/MaterialIcons-Regular.woff") format('woff'), url("lr-asset/fonts/material-icon/MaterialIcons-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url("lr-asset/fonts/Ubuntu/Ubuntu-Light.woff2") format('woff2'), url("lr-asset/fonts/Ubuntu/Ubuntu-Light.woff") format('woff'), url("lr-asset/fonts/Ubuntu/Ubuntu-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("lr-asset/fonts/Ubuntu/Ubuntu-Regular.woff2") format('woff2'), url("lr-asset/fonts/Ubuntu/Ubuntu-Regular.woff") format('woff'), url("lr-asset/fonts/Ubuntu/Ubuntu-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url("lr-asset/fonts/Ubuntu/Ubuntu-RegularItalic.woff2") format('woff2'), url("lr-asset/fonts/Ubuntu/Ubuntu-RegularItalic.woff") format('woff'), url("lr-asset/fonts/Ubuntu/Ubuntu-RegularItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url("lr-asset/fonts/Ubuntu/Ubuntu-Medium.woff2") format('woff2'), url("lr-asset/fonts/Ubuntu/Ubuntu-Medium.woff") format('woff'), url("lr-asset/fonts/Ubuntu/Ubuntu-Medium.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 600;
  src: url("lr-asset/fonts/Ubuntu/Ubuntu-Bold.woff2") format('woff2'), url("lr-asset/fonts/Ubuntu/Ubuntu-Bold.woff") format('woff'), url("lr-asset/fonts/Ubuntu/Ubuntu-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 600;
  src: url("lr-asset/fonts/Ubuntu/Ubuntu-BoldItalic.woff2") format('woff2'), url("lr-asset/fonts/Ubuntu/Ubuntu-BoldItalic.woff") format('woff'), url("lr-asset/fonts/Ubuntu/Ubuntu-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("lr-asset/fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.woff2") format('woff2'), url("lr-asset/fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.woff") format('woff'), url("lr-asset/fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url("lr-asset/fonts/Ubuntu_Mono/UbuntuMono-Regular.woff2") format('woff2'), url("lr-asset/fonts/Ubuntu_Mono/UbuntuMono-Regular.woff") format('woff'), url("lr-asset/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 600;
  src: url("lr-asset/fonts/Ubuntu_Mono/UbuntuMono-Bold.woff2") format('woff2'), url("lr-asset/fonts/Ubuntu_Mono/UbuntuMono-Bold.woff") format('woff'), url("lr-asset/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("lr-asset/fonts/Open_Sans/OpenSans-Bold.woff2") format('woff2'), url("lr-asset/fonts/Open_Sans/OpenSans-Bold.woff") format('woff'), url("lr-asset/fonts/Open_Sans/OpenSans-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("lr-asset/fonts/Open_Sans/OpenSans-BoldItalic.woff2") format('woff2'), url("lr-asset/fonts/Open_Sans/OpenSans-BoldItalic.woff") format('woff'), url("lr-asset/fonts/Open_Sans/OpenSans-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("lr-asset/fonts/Open_Sans/OpenSans-Light.woff2") format('woff2'), url("lr-asset/fonts/Open_Sans/OpenSans-Light.woff") format('woff'), url("lr-asset/fonts/Open_Sans/OpenSans-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("lr-asset/fonts/Open_Sans/OpenSans-LightItalic.woff2") format('woff2'), url("lr-asset/fonts/Open_Sans/OpenSans-LightItalic.woff") format('woff'), url("lr-asset/fonts/Open_Sans/OpenSans-LightItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("lr-asset/fonts/Open_Sans/OpenSans-Regular.woff2") format('woff2'), url("lr-asset/fonts/Open_Sans/OpenSans-Regular.woff") format('woff'), url("lr-asset/fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("lr-asset/fonts/Open_Sans/OpenSans-Italic.woff2") format('woff2'), url("lr-asset/fonts/Open_Sans/OpenSans-Italic.woff") format('woff'), url("lr-asset/fonts/Open_Sans/OpenSans-Italic.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("lr-asset/fonts/Open_Sans/OpenSans-SemiBold.woff2") format('woff2'), url("lr-asset/fonts/Open_Sans/OpenSans-SemiBold.woff") format('woff'), url("lr-asset/fonts/Open_Sans/OpenSans-SemiBold.ttf") format('truetype');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', Sans-serif;
  color: #0a2135;
  -webkit-font-smoothing: antialiased;
}
p,
li {
  font-family: 'Open Sans', 'Helvetica', 'Arial', Sans-serif;
  color: rgba(10,33,53,0.8);
  -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 768px) {
  .type-super {
    font-size: 4em;
    line-height: 100%;
  }
}
@media screen and (min-width: 992px) {
  .type-superx1 {
    font-size: 6em;
    line-height: 100%;
  }
}
@media screen and (min-width: 992px) {
  .type-superx2 {
    font-size: 8em;
    line-height: 105%;
  }
}
@media screen and (min-width: 992px) {
  .type-small {
    font-size: 0.95em;
    line-height: 150%;
  }
}
.type-sub {
  font-weight: 300;
}
.box-shadow-depth1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.box-shadow-depth2 {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.box-shadow-depth3 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.box-shadow-depth4 {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.box-shadow-depth5 {
  -webkit-box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21);
  box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21);
}
.box-shadow-depth6 {
  -webkit-box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2), 0 40px 77px 0 rgba(0,0,0,0.22);
  box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2), 0 40px 77px 0 rgba(0,0,0,0.22);
}
.animate-fade {
  -webkit-transition: color ease-in-out 0.3s;
  -o-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
}
.animate-all {
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.animate-fill,
.cls-1 {
  -webkit-transition: fill ease-in-out 0.3s;
  -o-transition: fill ease-in-out 0.3s;
  transition: fill ease-in-out 0.3s;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
*:focus {
  outline: none !important;
}
.btn {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.wrapper {
  overflow: hidden;
}
.clear:before,
.clear:after,
content ' ',
display table,
clear both,
.clear {
  *zoom: 1;
}
body {
  font-family: 'Open Sans', 'Ubuntu', 'Helvetica', 'Arial', Sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
::-moz-selection {
  background: #f79937;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #f79937;
  color: #fff;
  text-shadow: none;
}
h1,
.h1 {
  font-size: 2em;
  line-height: 35px;
  font-weight: 300;
  margin: 0.36em 0;
}
@media screen and (min-width: 768px) {
  h1,
  .h1 {
    font-size: 2.563em;
    line-height: 40px;
  }
}
h2,
.h2 {
  font-size: 2em;
  line-height: 35px;
}
@media screen and (min-width: 768px) {
  h2,
  .h2 {
    font-size: 2.563em;
    line-height: 40px;
  }
}
h3,
.h3 {
  font-size: 1.5em;
  line-height: 1.25em;
}
@media screen and (min-width: 768px) {
  h3,
  .h3 {
    font-size: 2em;
    line-height: 35px;
  }
}
h3:last-of-type,
.h3:last-of-type {
  margin: 0;
}
h4,
.h4,
.a-link-list.video h3 {
  font-size: 1em;
  line-height: 1.71em;
}
@media screen and (min-width: 768px) {
  h4,
  .h4,
  .a-link-list.video h3 {
    font-size: 1.313em;
    line-height: 30px;
  }
}
h5,
.h5,
[class*='a-link-list-block'] a {
  font-size: 1rem;
  line-height: 150%;
}
@media screen and (min-width: 768px) {
  h5,
  .h5,
  [class*='a-link-list-block'] a {
    font-size: 17px;
  }
}
p,
.p {
  font-size: 16px;
  line-height: 1.71em;
}
a {
  text-decoration: none;
  color: #29d;
}
a:hover {
  color: #29d;
}
ul.remove-bullet,
ol.remove-bullet {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
/* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
/* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
/* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
/* Support for IE. */
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}
.fw300 {
  font-weight: 300;
}
.fw400 {
  font-weight: 400;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.jumbotron {
  border-radius: 0;
}
.border-grey {
  border: 1px solid #eee;
}
.navbar {
  width: 100%;
  height: 80px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.navbar-brand {
  padding: 0.75em 0;
}
.navbar-fixed-top {
  position: fixed;
  top: 0;
  z-index: 100;
}
.navbar-nav-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.navbar-toggler {
  -ms-flex-item-align: center;
  align-self: center;
}
.navbar.nav-up {
  top: -80px;
}
.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  align-items: center;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (min-width: 576px) {
  .nav-container {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.nav-item {
  -webkit-transition: color ease-in-out 0.3s;
  -o-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
}
.nav-item:last-of-type {
  margin-right: -1em;
}
.nav-item a {
  display: inline-block;
  padding: 0.5em 1em;
  cursor: pointer;
}
@media (max-width: 991px) {
  .nav-item a {
    padding: 0.5em 0.5em;
  }
}
main {
  padding-top: 80px;
}
main.partner {
  min-height: calc(100vh - 200px) /*Sticky Footer*/;
}
.res-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding-right: 16px;
  padding-left: 16px;
}
@media (max-width: 1173px) {
  .res-container {
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media (max-width: 575px) {
  .res-container {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 575px) {
  .res-container-row {
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (min-width: 768px) {
  .base-form.trial-form ul.gform_fields,
  ul.gfield_checkbox {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    width: calc(100% - 16px);
  }
  .base-form.trial-form ul.gform_fields li.gfield:first-of-type,
  ul.gfield_checkbox li.gfield:first-of-type,
  .base-form.trial-form ul.gform_fields li#field_1_13,
  ul.gfield_checkbox li#field_1_13,
  .base-form.trial-form ul.gform_fields li#field_2_5,
  ul.gfield_checkbox li#field_2_5,
  .base-form.trial-form ul.gform_fields li#field_2_10,
  ul.gfield_checkbox li#field_2_10,
  .base-form.trial-form ul.gform_fields li#field_2_14,
  ul.gfield_checkbox li#field_2_14,
  .base-form.trial-form ul.gform_fields li#field_2_15,
  ul.gfield_checkbox li#field_2_15,
  li#field_2_11 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
ul.gfield_checkbox {
  grid-row-gap: 0;
}
@media (min-height: 500px) {
  .center-abs {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.center-abs-obj {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.row.no-gutter {
  margin: 0;
}
[class*='card-big-'] {
  min-height: 70vh;
  max-height: 500px;
}
@media (max-width: 767px) {
  .card-big-logins {
    min-height: 0px;
  }
}
.card-big-logins p:last-of-type {
  margin-bottom: 0;
}
@media (max-width: 576px) {
  .card-big-logins.px-5 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
@media (max-width: 576px) {
  .card-big-logins.py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}
.card-big-logins > div {
  width: 100%;
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
}
.bg-center {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.height-spacer {
  min-height: 55vh;
  max-height: 500px;
}
.fix-top {
  position: fixed;
}
@media (max-width: 768px) {
  .fix-top {
    width: 100%;
    position: relative;
  }
}
@media (max-width: 768px) {
  .fix-top.side-menu-res {
    position: relative;
  }
}
.video_popout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 99999999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: pop 300ms linear both;
  animation: pop 300ms linear both;
}
.video_popout .video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 960px;
  width: 100%;
}
.video_popout .video iframe {
  width: 100%;
}
.a-link-list.video > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.video_popout i {
  position: absolute;
  color: #fff;
  top: 0px;
  right: 0;
  -webkit-transform: translate(100%, -100%);
  -ms-transform: translate(100%, -100%);
  transform: translate(100%, -100%);
  cursor: pointer;
  background: rgba(255,255,255,0.25);
  border-radius: 50%;
  padding: 8px;
  opacity: 0.75;
  font-size: 16px;
}
[class*='content'] {
  display: block;
}
.content-partner {
  padding-bottom: 1rem;
}
.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.layout.layout-l2-r10 .col-l2 {
  display: inline-block;
  width: 190px;
  margin-right: 2rem;
}
@media (max-width: 768px) {
  .layout.layout-l2-r10 .col-l2 {
    width: 100%;
    position: relative;
    margin-right: 0rem;
  }
}
.layout.layout-l2-r10 .col-r10 {
  display: inline-block;
  width: 100%;
}
@media (max-width: 768px) {
  .layout.layout-l2-r10 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@-moz-keyframes pop {
  0% {
    opacity: 0;
    top: -100%;
    bottom: 100%;
  }
  100% {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@-webkit-keyframes pop {
  0% {
    opacity: 0;
    top: -100%;
    bottom: 100%;
  }
  100% {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@-o-keyframes pop {
  0% {
    opacity: 0;
    top: -100%;
    bottom: 100%;
  }
  100% {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
    top: -100%;
    bottom: 100%;
  }
  100% {
    opacity: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.constrained-icon {
  display: inline-block;
  height: 68px;
  margin-bottom: 12px;
}
.inline-title-icon {
  display: inline-block;
  height: 24px;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.menu-CTA-notparter {
  position: relative;
}
.menu-CTA-notparter:before {
  content: 'Not a LoginRadius Partner?';
  display: inline-block;
  position: absolute;
  color: #757575;
  font-weight: 500;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  line-height: 100%;
  font-size: 14px;
  left: -18px;
  top: 50%;
}
button {
  background-color: transparent;
}
a.btn,
.base-form .gform_wrapper .gform_page_footer input,
.base-form .gform_wrapper .gform_footer input {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1;
  border-radius: 4px;
  padding: 16px 12px;
  -webkit-transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background 0.3s ease-in-out;
}
a.btn.btn-contain,
.base-form .gform_wrapper .gform_page_footer input.btn-contain,
.base-form .gform_wrapper .gform_footer input.btn-contain {
  display: inline-block;
}
a.btn.btn-default,
.base-form .gform_wrapper .gform_page_footer input.btn-default,
.base-form .gform_wrapper .gform_footer input.btn-default {
  border: 1px solid #9e9e9e;
}
a.btn.btn-primary,
.base-form .gform_wrapper .gform_page_footer input.btn-primary,
.base-form .gform_wrapper .gform_footer input.btn-primary {
  border: 1px solid #0076bd;
  background: #0076bd;
  color: #fff;
}
a.btn.btn-primary:hover,
.base-form .gform_wrapper .gform_page_footer input.btn-primary:hover,
.base-form .gform_wrapper .gform_footer input.btn-primary:hover,
a.btn.btn-primary:active,
.base-form .gform_wrapper .gform_page_footer input.btn-primary:active,
.base-form .gform_wrapper .gform_footer input.btn-primary:active,
a.btn.btn-primary:focus,
.base-form .gform_wrapper .gform_page_footer input.btn-primary:focus,
.base-form .gform_wrapper .gform_footer input.btn-primary:focus {
  border: 1px solid #00619b;
  background: #00619b;
}
a.btn.btn-success,
.base-form .gform_wrapper .gform_page_footer input.btn-success,
.base-form .gform_wrapper .gform_footer input.btn-success {
  background-color: #00bfa5;
  border: 1px solid #00bfa5;
}
a.btn.btn-success:hover,
.base-form .gform_wrapper .gform_page_footer input.btn-success:hover,
.base-form .gform_wrapper .gform_footer input.btn-success:hover,
a.btn.btn-success:focus,
.base-form .gform_wrapper .gform_page_footer input.btn-success:focus,
.base-form .gform_wrapper .gform_footer input.btn-success:focus,
a.btn.btn-success:active,
.base-form .gform_wrapper .gform_page_footer input.btn-success:active,
.base-form .gform_wrapper .gform_footer input.btn-success:active {
  background-color: #009d88;
  border: 1px solid #009d88;
}
a.btn.btn-link,
.base-form .gform_wrapper .gform_page_footer input.btn-link,
.base-form .gform_wrapper .gform_footer input.btn-link {
  border: 1px solid transparent;
}
a.btn.btn-revese,
.base-form .gform_wrapper .gform_page_footer input.btn-revese,
.base-form .gform_wrapper .gform_footer input.btn-revese {
  border: 1px solid #fff;
  background: #fff;
}
a.btn.btn-revese.lr_col_sys_Blue-dark,
.base-form .gform_wrapper .gform_page_footer input.btn-revese.lr_col_sys_Blue-dark,
.base-form .gform_wrapper .gform_footer input.btn-revese.lr_col_sys_Blue-dark {
  color: #00619b;
}
a.btn.btn-revese:hover,
.base-form .gform_wrapper .gform_page_footer input.btn-revese:hover,
.base-form .gform_wrapper .gform_footer input.btn-revese:hover,
a.btn.btn-revese:active,
.base-form .gform_wrapper .gform_page_footer input.btn-revese:active,
.base-form .gform_wrapper .gform_footer input.btn-revese:active,
a.btn.btn-revese:focus,
.base-form .gform_wrapper .gform_page_footer input.btn-revese:focus,
.base-form .gform_wrapper .gform_footer input.btn-revese:focus {
  background: rgba(255,255,255,0);
  color: #fff;
}
.btn {
  display: block;
  width: auto;
  margin-left: 0;
  background-color: transparent;
}
.btn a {
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.btn.btn-primary {
  border: 1px solid #0076bd;
  background: #0076bd;
  color: #fff;
}
.btn.btn-primary:hover,
.btn.btn-primary:not([disabled]):not(.disabled):active,
.btn.btn-primary:focus {
  border: 1px solid #00619b;
  background: #00619b;
}
.btn.btn-link-like {
  padding: 0;
}
.btn.btn-revese-border {
  border: 1px solid #9e9e9e;
  color: #364959;
  background: transparent;
  text-transform: uppercase;
  font-weight: 600;
}
.btn.btn-revese-border:hover,
.btn.btn-revese-border:active,
.btn.btn-revese-border:focus {
  background: #364959;
  border: 1px solid #364959;
}
.btn.btn-see-all {
  padding: 0;
  display: inline-block;
  font-size: 14px;
  text-transform: none;
  color: #0076bd;
  text-decoration: underline;
}
.btn.btn-see-all:before {
  content: "(";
  color: #0a2135;
}
.btn.btn-see-all:after {
  content: ")";
  color: #0a2135;
}
.btn.btn-see-all:hover,
.btn.btn-see-all:active,
.btn.btn-see-all:focus {
  color: #2e8ec9;
}
li.btn {
  border: 0px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  font-size: 0;
}
li.btn a {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid transparent;
  line-height: 100%;
  border-radius: 4px;
  padding: 0.5rem 12px;
  font-size: 1rem;
  -webkit-transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background 0.3s ease-in-out;
}
li.btn[class*="btn-"] {
  background: transparent;
  border: 1px solid transparent;
}
li.btn.btn-primary a {
  border: 1px solid #0076bd;
  background: #0076bd;
  color: #fff;
}
li.btn.btn-primary:hover,
li.btn.btn-primary:not([disabled]):not(.disabled):active,
li.btn.btn-primary:focus {
  background: transparent;
  border: 1px solid transparent;
}
li.btn.btn-primary:hover a,
li.btn.btn-primary:not([disabled]):not(.disabled):active a,
li.btn.btn-primary:focus a {
  background: #00619b;
  border: 1px solid #00619b;
}
li.btn.btn-revese-border a {
  color: #364959;
  border: 1px solid #9e9e9e;
}
li.btn.btn-revese-border:hover,
li.btn.btn-revese-border:active,
li.btn.btn-revese-border:focus {
  background: transparent;
  border: 1px solid transparent;
}
li.btn.btn-revese-border:hover a,
li.btn.btn-revese-border:active a,
li.btn.btn-revese-border:focus a {
  color: #fff;
  background: #364959;
  border: 1px solid #364959;
}
.card {
  background-color: #fff;
  border-radius: 16px;
  padding: 32px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  max-width: 600px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  border: 0px;
}
.card:hover {
  -webkit-box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21);
  box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22), 0 25px 55px 0 rgba(0,0,0,0.21);
}
.card .btn {
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.card .btn:hover {
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}
.card h3 {
  font-weight: 400;
}
a.a-text-block-link h4 {
  display: table;
  position: relative;
}
a.a-text-block-link svg {
  max-width: 84px;
}
a.a-text-block-link .btn-link-like {
  color: #0a2135;
  -webkit-box-shadow: 0 1px 0 0 currentColor;
  box-shadow: 0 1px 0 0 currentColor;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  border-radius: 0;
  border-bottom: 1px solid #0a2135;
}
a.a-text-block-link:hover,
a.a-text-block-link:focus,
a.a-text-block-link:active {
  text-decoration: none;
}
a.a-text-block-link:hover h4,
a.a-text-block-link:focus h4,
a.a-text-block-link:active h4,
a.a-text-block-link:hover p,
a.a-text-block-link:focus p,
a.a-text-block-link:active p,
a.a-text-block-link:hover .btn-link-like,
a.a-text-block-link:focus .btn-link-like,
a.a-text-block-link:active .btn-link-like {
  color: #0076bd;
}
a.a-text-block-link:hover .btn-link-like,
a.a-text-block-link:focus .btn-link-like,
a.a-text-block-link:active .btn-link-like {
  -webkit-box-shadow: 0 3px 0 0 #2e8ec9;
  box-shadow: 0 3px 0 0 #2e8ec9;
  border-bottom: 1px solid #2e8ec9;
}
a.a-text-block-link:hover .cls-1,
a.a-text-block-link:focus .cls-1,
a.a-text-block-link:active .cls-1 {
  fill: #2e8ec9;
}
[class*='a-link-list-v'] li {
  margin-bottom: 4px;
}
[class*='a-link-list-v'] li:last-child {
  margin-bottom: 1rem;
}
[class*='a-link-list-v'] a {
  border-bottom: 0px solid #29d;
  -webkit-transition: all ease-in-out 100ms;
  -o-transition: all ease-in-out 100ms;
  transition: all ease-in-out 100ms;
}
[class*='a-link-list-v'] a:hover {
  text-decoration: none;
  border-bottom: 3px solid #29d;
  position: relative;
}
.a-link-list-v-small-a a {
  font-size: 0.75rem;
  color: #0a2135;
  -webkit-transition: font-weight ease-in-out 0.3s, color ease-in-out 0.3s, border-bottom ease-in-out 0.3s, background-color ease-in-out 0.3s;
  -o-transition: font-weight ease-in-out 0.3s, color ease-in-out 0.3s, border-bottom ease-in-out 0.3s, background-color ease-in-out 0.3s;
  transition: font-weight ease-in-out 0.3s, color ease-in-out 0.3s, border-bottom ease-in-out 0.3s, background-color ease-in-out 0.3s;
}
.a-link-list-v-small-a a.current {
  color: #1c7eb5;
}
.a-link-list-v-small-a a.current:before {
  content: "";
}
.a-link-list-v-small-a a:hover {
  color: #29d;
  border-bottom: 1px solid #4aabe3;
}
@media (min-width: 768px) {
  .a-link-list-v-small-a#side-menu.toggleable-sm.collapse {
    display: block;
  }
}
[class*='a-link-list-block'] a {
  height: 10rem;
  padding: 1rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #29d;
  margin-bottom: 20px;
  color: #fff;
  top: 0px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: background-color ease-in-out 0.3s, top ease-in-out 0.1s;
  -o-transition: background-color ease-in-out 0.3s, top ease-in-out 0.1s;
  transition: background-color ease-in-out 0.3s, top ease-in-out 0.1s;
}
[class*='a-link-list-block'] a.bg-white {
  background-color: #fff !important;
}
[class*='a-link-list-block'] a:hover {
  background-color: #1c7eb5;
  position: relative;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  top: -4px;
  text-decoration: none;
}
[class*='a-link-list-block'] a:hover * {
  color: #fff;
}
[class*='a-link-list-block'] a:hover h4 {
  -webkit-line-clamp: 2;
}
[class*='a-link-list-block'] a:hover span:after {
  text-decoration: underline;
  display: block;
  font-size: 12px;
}
[class*='a-link-list-block'] a:hover span.type-download:after {
  content: "Download";
}
[class*='a-link-list-block'] a:hover span.type-int:after {
  content: "Visit the Page";
}
[class*='a-link-list-block'] a:hover span.video:after {
  content: "Watch the Video";
}
[class*='a-link-list-block'] a h4 {
  display: -webkit-box;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  min-width: 0;
}
[class*='a-link-list-block'] a * {
  color: #fff;
  margin-bottom: 0;
  font-weight: 600;
}
[class*='a-link-list-block'] a span {
  font-weight: 400;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
}
[class*='a-link-list-block'].row {
  margin-right: -10px;
  margin-left: -10px;
}
[class*='a-link-list-block'] [class*='col-'] {
  padding-right: 10px;
  padding-left: 10px;
}
.a-link-list.video {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.a-link-list.video .lr-resource-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: inherit;
  flex-wrap: inherit;
}
.a-link-list.video h3 {
  padding-bottom: 1rem;
}
.a-link-list.video p {
  display: none;
}
.a-link-list.video .customer_video_loading {
  display: inline-block;
}
.a-link-list.video .video_thumb {
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 1px #e0e0e0;
  height: 150px;
  position: relative;
}
.a-link-list.video .video_thumb:after {
  content: " ";
  position: absolute;
  display: block;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml;utf8,<svg fill='#FFFFFF' xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M10 16.5l6-4.5-6-4.5v9zM12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm0 18c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8z'/></svg>");
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.a-link-list.video a:hover,
.a-link-list.video a:focus {
  text-decoration: none;
}
.a-link-list.video a:hover .video_thumb,
.a-link-list.video a:focus .video_thumb {
  background-size: 130%;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.a-link-list.video a:hover .video_thumb:after,
.a-link-list.video a:focus .video_thumb:after {
  background-color: rgba(0,0,0,0.12);
}
.navbar .has-depth {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.navbar a {
  color: #0a2135;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  -webkit-transition: color ease-in-out 0.3s;
  -o-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
}
.navbar a:hover {
  color: #29d;
}
.navbar .btn {
  margin-left: 1rem;
}
@media (max-width: 991px) {
  .navbar .btn {
    margin-left: 0.5rem;
  }
}
.navbar .btn a {
  font-size: 0.85rem;
  color: #fff;
}
.navbar .btn a:hover {
  opacity: 1;
}
.navbar .btn.btn-revese-border a {
  color: #364959;
  font-weight: 600;
}
.navbar .btn.btn-revese-border:hover a {
  color: #fff;
}
.navbar-inverse .navbar-toggler {
  border: none !important;
  padding: 0rem 0rem;
}
.navbar-inverse .navbar-toggler .material-icons {
  color: #0a2135;
  display: block;
  font-size: 1.75rem;
}
@media (max-width: 767px) {
  .navbar-collapse.partner {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    position: absolute;
    background: #0a2135;
    z-index: 90;
    width: 100vw;
    top: 66px;
    left: -16px;
  }
  .navbar-collapse.partner .navbar-nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 2rem;
    -webkit-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    padding-right: 2em;
    padding-left: 2rem;
  }
  .navbar-collapse.partner .nav-item a {
    padding: 0.5rem 0rem;
    color: #fff !important;
    font-size: 14px;
    -webkit-transition: opacity ease-in-out 0.3s, color ease-in-out 0.3s, background ease-in-out 0.3s;
    -o-transition: opacity ease-in-out 0.3s, color ease-in-out 0.3s, background ease-in-out 0.3s;
    transition: opacity ease-in-out 0.3s, color ease-in-out 0.3s, background ease-in-out 0.3s;
  }
  .navbar-collapse.partner .nav-item a:hover {
    color: #69d2ff !important;
  }
  .navbar-collapse.partner .btn[class*="btn-"] {
    margin-left: 0;
    margin-top: 1rem;
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar-collapse.partner .btn[class*="btn-"] a {
    color: #fff !important;
    border: 1px solid rgba(255,255,255,0.54) !important;
    background: transparent !important;
  }
  .navbar-collapse.partner .btn[class*="btn-"] a:hover {
    background: transparent;
    border: 1px solid #fff !important;
  }
}
@media (max-width: 767px) and (max-width: 576px) {
  .navbar-collapse.partner .navbar-nav {
    padding-right: 1em;
    padding-left: 1rem;
  }
}
@media (max-width: 768px) {
  .side-menu-res {
    position: absolute;
    right: 0;
    z-index: 10;
  }
  .side-menu-res button {
    padding: 0;
    margin-left: auto;
  }
  .side-menu-res button i {
    font-size: 2rem;
    color: #616161;
  }
  .side-menu-res ul {
    background-color: #fff;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .side-menu-res ul li,
  .side-menu-res ul li:last-child {
    margin-bottom: 0;
  }
  .side-menu-res ul a {
    font-size: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: block;
  }
  .side-menu-res ul a:hover,
  .side-menu-res ul a.current {
    color: #fff;
    background-color: #757575;
    border-bottom: 0px solid #4aabe3;
  }
}
.progress_bar {
  position: relative;
}
.progress_bar .line {
  display: block;
  width: calc(100% - 1em);
  background-color: #4aabe3;
  height: 6px;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  position: absolute;
  z-index: 1;
}
.progress_bar .line.active {
  background-color: #0076bd;
}
.progress_bar .line.step:before {
  content: " ";
  display: block;
  width: 50%;
  background-color: #0076bd;
  height: 6px;
}
.progress_bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.progress_bar li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #4aabe3;
  border-radius: 50px;
  position: relative;
  width: 40px;
  height: 40px;
}
.progress_bar li.active {
  background-color: #0076bd;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.progress_bar p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
}
.footer .logo-img {
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  height: 28px;
}
.footer .logo-img:hover {
  opacity: 1;
}
.footer p {
  font-size: 14px;
}
.footer hr {
  opacity: 0.12;
}
.footer .footer-link span {
  opacity: 0.38;
}
.footer .footer-link a {
  display: inline-block;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.footer .footer-link a:hover {
  color: #69d2ff;
  opacity: 1;
  text-decoration: none;
}
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6 {
  color: #fff;
}
.text-white p,
.text-white li {
  color: #fff;
}
.text-white a {
  color: #fff;
  -webkit-transition: opacity ease-in-out 0.3s, color ease-in-out 0.3s, background ease-in-out 0.3s;
  -o-transition: opacity ease-in-out 0.3s, color ease-in-out 0.3s, background ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s, color ease-in-out 0.3s, background ease-in-out 0.3s;
}
.text-white a:hover {
  color: #fff;
  opacity: 0.7;
}
.text-white hr {
  border-top: 1px solid #fff;
}
.text-white .navbar-brand {
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.text-white .navbar-brand::before {
  content: " ";
  display: block;
  background-image: url("/wp-content/themes/Loginradius_Partner-Portal-2018/img/logo-w.svg");
  position: absolute;
  top: 50%;
  left: 0;
  height: 32px;
  width: 100%;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
.text-white .navbar-brand::after {
  color: #fff;
}
.text-white .navbar-brand img {
  opacity: 0;
}
.text-white .navbar-toggler .material-icons {
  color: #fff;
}
.text-white .btn:hover {
  opacity: 1;
}
.text-white .btn[class*="btn-"] a {
  color: #fff;
  border: 1px solid rgba(255,255,255,0.54);
}
.underline {
  text-decoration: underline;
}
@media (max-width: 768px) {
  section.response-lay-bigB-right .text-right.res-btn {
    text-align: left !important;
  }
  section.response-lay-bigB-right .text-right.res-btn .btn {
    margin-left: 0;
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  footer.response-lay-v1 .footer-block.float-right.res {
    float: left !important;
    margin-top: 8px;
  }
}
.base-form h3 {
  text-align: center;
}
.base-form .gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0;
}
.base-form .gform_wrapper label.gfield_label {
  font-weight: 600;
}
.base-form .gform_wrapper .gfield_required {
  color: #f79937;
}
.base-form .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.base-form .gform_wrapper option {
  padding-left: 0.75em;
}
.base-form .gform_wrapper div.ginput_container input,
.base-form .gform_wrapper div.ginput_container select {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  outline: none;
}
.base-form .gform_wrapper div.ginput_container input::-webkit-input-placeholder,
.base-form .gform_wrapper div.ginput_container select::-webkit-input-placeholder {
  font-size: 14px;
  color: #9e9e9e;
  vertical-align: center;
  display: inline;
  padding-top: 2px;
  padding-bottom: 2px;
}
.base-form .gform_wrapper div.ginput_container input:-ms-input-placeholder,
.base-form .gform_wrapper div.ginput_container select:-ms-input-placeholder {
  font-size: 14px;
  color: #9e9e9e;
  vertical-align: center;
  display: inline;
  padding-top: 2px;
  padding-bottom: 2px;
}
.base-form .gform_wrapper div.ginput_container input::-ms-input-placeholder,
.base-form .gform_wrapper div.ginput_container select::-ms-input-placeholder {
  font-size: 14px;
  color: #9e9e9e;
  vertical-align: center;
  display: inline;
  padding-top: 2px;
  padding-bottom: 2px;
}
.base-form .gform_wrapper div.ginput_container input::placeholder,
.base-form .gform_wrapper div.ginput_container select::placeholder {
  font-size: 14px;
  color: #9e9e9e;
  vertical-align: center;
  display: inline;
  padding-top: 2px;
  padding-bottom: 2px;
}
.base-form .gform_wrapper div.ginput_container input:hover,
.base-form .gform_wrapper div.ginput_container select:hover {
  border: 1px solid $lr_col_brandBlue-normal;
}
.base-form .gform_wrapper div.ginput_container input:focus,
.base-form .gform_wrapper div.ginput_container select:focus,
.base-form .gform_wrapper div.ginput_container input:active,
.base-form .gform_wrapper div.ginput_container select:active {
  border: 1px solid $lr_col_brandBlue-normal;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #0a2135;
}
.base-form .gform_wrapper div.ginput_container select {
  height: 37px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.base-form .gform_wrapper div.ginput_container.ginput_container_select {
  position: relative;
}
.base-form .gform_wrapper div.ginput_container.ginput_container_select:after {
  content: "▼";
  font-size: 14px;
  pointer-events: none;
  display: block;
  background-color: #fff;
  color: #616161;
  height: 16px;
  width: 16px;
  padding: 0 16px 0 8px;
  position: absolute;
  right: -4px;
  top: calc(50% - 2px);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.base-form .gform_wrapper .gform_page_footer input,
.base-form .gform_wrapper .gform_footer input {
  width: 100% !important;
  background: #f6830b;
  color: #fff;
}
.base-form .gform_wrapper .gform_page_footer input:hover,
.base-form .gform_wrapper .gform_footer input:hover {
  background: #f79937;
  -webkit-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.base-form .gform_wrapper .gform_page_footer input:focus,
.base-form .gform_wrapper .gform_footer input:focus {
  border: none;
}
@media only screen and (min-width: 641px) {
  .base-form .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
    max-width: 100% !important;
  }
}
.base-form .gform_wrapper.gform_validation_error li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.base-form .gform_wrapper.gform_validation_error li.gfield_error textarea {
  border: 1px solid #e92d45;
}
.base-form .gform_wrapper div.validation_error {
  background-color: #ed5366;
  color: #fff;
  font-size: 0.75em;
  border: none;
  font-weight: 500;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  padding-left: 6em;
  padding-right: 6em;
  margin-top: -44px;
  padding-bottom: 1.5em;
  max-width: 600px;
  margin-bottom: 4em;
  position: relative;
}
.base-form .gform_wrapper div.validation_error:before {
  content: " ";
  display: block;
  width: 25px;
  height: 25px;
  margin: 1em auto 1.2em;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #fff;
}
.base-form .gform_wrapper div.validation_error:after {
  content: " ";
  display: block;
  width: 4px;
  height: 30px;
  top: 58px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ed5366;
  position: absolute;
}
.base-form .gform_wrapper .gfield_error .gfield_label {
  color: #e92d45;
}
.base-form .gform_wrapper .validation_message {
  color: #e92d45;
}
.base-form .gform_wrapper li.gfield.gfield_error {
  border: none;
}
.bg-white,
body.error404.partner_portal {
  background: #fff;
}
.bg-grey50,
body.partner_portal.page-id-2 {
  background: #fafafa;
}
.bg-lr_col_sys_Blue-dark {
  background: #00619b;
}
.bg-lr_col_brandBlack {
  background: #0a2135;
}
.bg-lr_col_sys_LightBlue-normal,
body.error404,
body.page-id-5,
body.page-id-33,
body.page-id-34 {
  background-color: #48c9ff;
}
body {
  background-repeat: no-repeat;
}
body.page-id-5,
body.page-id-33,
body.page-id-34 {
  background-image: url("/wp-content/uploads/sites/11/2017/12/digi.svg"), -webkit-linear-gradient(277deg, #69d2ff 55%, #48c9ff 45%);
  background-image: url("/wp-content/uploads/sites/11/2017/12/digi.svg"), -o-linear-gradient(277deg, #69d2ff 55%, #48c9ff 45%);
  background-image: url("/wp-content/uploads/sites/11/2017/12/digi.svg"), linear-gradient(173deg, #69d2ff 55%, #48c9ff 45%);
  background-size: cover;
  background-position: center;
}
.logo-sub_title {
  position: relative;
}
.logo-sub_title-partner_portal::after {
/* Partner Protoal */
  content: "Partner Portal";
  display: block;
  position: absolute;
  right: 0;
  bottom: -10px;
  font-size: 0.75rem;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', Sans-serif;
  color: #0a2135;
  font-weight: 300;
  -webkit-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}
