// Themes
//
// Themes can affect any of the primary types. They can
// override base styles like default link colours. They can change
// module elements such as colours and borders. They can affect
// layout with different arrangements. They can also alter how states look.
//
// @source http://smacss.com/book/type-theme

.bg-white
body.error404.partner_portal
	background white
.bg-grey50
	background $ma_col_grey50
.bg-lr_col_sys_Blue-dark
	background $lr_col_sys_Blue-dark
.bg-lr_col_brandBlack
	background $lr_col_brandBlack
	
.bg-lr_col_sys_LightBlue-normal
body.error404
	background-color $lr_col_sys_LightBlue-normal

body
	background-repeat no-repeat
	//Trail Background Theme color
	&.page-id-5
	&.page-id-33
	&.page-id-34
		@extend .bg-lr_col_sys_LightBlue-normal
		background-image  url('/wp-content/uploads/sites/11/2017/12/digi.svg'), linear-gradient(173deg,
			$lr_col_sys_LightBlue-light 55%,
			$lr_col_sys_LightBlue-normal 45%)
		background-size cover
		background-position center
		// background-position bottom
body.partner_portal
	&.page-id-2 
		@extend .bg-grey50


// ==========================================================================
// Navigation
// ==========================================================================

// Sub Site Navigation Sub Title
.logo-sub_title
	position relative
	&-partner_portal::after
		/* Partner Protoal */
		content "Partner Portal"
		display block
		position absolute
		right 0
		bottom -10px
		font-size 0.75rem
		font-family  'Ubuntu', 'Helvetica', 'Arial', Sans-serif
		color $lr_base_text_color
		font-weight 300
		transform translate(0%, -50%)
		

