@import 'lr-style/lr-style-guide.styl'
@import 'lr-style/lr-style-utilities.styl'
@import 'lr-atom/lr-button.styl'

body
	font-family 'Open Sans', 'Ubuntu', 'Helvetica', 'Arial', Sans-serif
	font-size 16px

::selection
	background $lr_col_sys_Orange-light
	color white
	text-shadow none
