h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', Sans-serif;
  color: #0a2135;
}
p,
li {
  font-family: 'Open Sans', 'Helvetica', 'Arial', Sans-serif;
  color: rgba(10,33,53,0.8);
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../lr-asset/fonts/material-icon/MaterialIcons-Regular.eot");
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("../lr-asset/fonts/MaterialIcons-Regular.woff2") format('woff2'), url("../lr-asset/fonts/MaterialIcons-Regular.woff") format('woff'), url("../lr-asset/fonts/MaterialIcons-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url("../lr-asset/fonts/Ubuntu/Ubuntu-Light.woff2") format('woff2'), url("../lr-asset/fonts/Ubuntu/Ubuntu-Light.woff") format('woff'), url("../lr-asset/fonts/Ubuntu/Ubuntu-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url("../lr-asset/fonts/Ubuntu/Ubuntu-Regular.woff2") format('woff2'), url("../lr-asset/fonts/Ubuntu/Ubuntu-Regular.woff") format('woff'), url("../lr-asset/fonts/Ubuntu/Ubuntu-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url("../lr-asset/fonts/Ubuntu/Ubuntu-RegularItalic.woff2") format('woff2'), url("../lr-asset/fonts/Ubuntu/Ubuntu-RegularItalic.woff") format('woff'), url("../lr-asset/fonts/Ubuntu/Ubuntu-RegularItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url("../lr-asset/fonts/Ubuntu/Ubuntu-Medium.woff2") format('woff2'), url("../lr-asset/fonts/Ubuntu/Ubuntu-Medium.woff") format('woff'), url("../lr-asset/fonts/Ubuntu/Ubuntu-Medium.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 600;
  src: url("../lr-asset/fonts/Ubuntu/Ubuntu-Bold.woff2") format('woff2'), url("../lr-asset/fonts/Ubuntu/Ubuntu-Bold.woff") format('woff'), url("../lr-asset/fonts/Ubuntu/Ubuntu-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 600;
  src: url("../lr-asset/fonts/Ubuntu/Ubuntu-BoldItalic.woff2") format('woff2'), url("../lr-asset/fonts/Ubuntu/Ubuntu-BoldItalic.woff") format('woff'), url("../lr-asset/fonts/Ubuntu/Ubuntu-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("../lr-asset/fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.woff2") format('woff2'), url("../lr-asset/fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.woff") format('woff'), url("../lr-asset/fonts/Ubuntu_Condensed/UbuntuCondensed-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url("../lr-asset/fonts/Ubuntu_Mono/UbuntuMono-Regular.woff2") format('woff2'), url("../lr-asset/fonts/Ubuntu_Mono/UbuntuMono-Regular.woff") format('woff'), url("../lr-asset/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 600;
  src: url("../lr-asset/fonts/Ubuntu_Mono/UbuntuMono-Bold.woff2") format('woff2'), url("../lr-asset/fonts/Ubuntu_Mono/UbuntuMono-Bold.woff") format('woff'), url("../lr-asset/fonts/Ubuntu_Mono/UbuntuMono-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../lr-asset/fonts/Open_Sans/OpenSans-Bold.woff2") format('woff2'), url("../lr-asset/fonts/Open_Sans/OpenSans-Bold.woff") format('woff'), url("../lr-asset/fonts/Open_Sans/OpenSans-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../lr-asset/fonts/Open_Sans/OpenSans-BoldItalic.woff2") format('woff2'), url("../lr-asset/fonts/Open_Sans/OpenSans-BoldItalic.woff") format('woff'), url("../lr-asset/fonts/Open_Sans/OpenSans-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../lr-asset/fonts/Open_Sans/OpenSans-Light.woff2") format('woff2'), url("../lr-asset/fonts/Open_Sans/OpenSans-Light.woff") format('woff'), url("../lr-asset/fonts/Open_Sans/OpenSans-Light.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("../lr-asset/fonts/Open_Sans/OpenSans-LightItalic.woff2") format('woff2'), url("../lr-asset/fonts/Open_Sans/OpenSans-LightItalic.woff") format('woff'), url("../lr-asset/fonts/Open_Sans/OpenSans-LightItalic.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../lr-asset/fonts/Open_Sans/OpenSans-Regular.woff2") format('woff2'), url("../lr-asset/fonts/Open_Sans/OpenSans-Regular.woff") format('woff'), url("../lr-asset/fonts/Open_Sans/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../lr-asset/fonts/Open_Sans/OpenSans-Italic.woff2") format('woff2'), url("../lr-asset/fonts/Open_Sans/OpenSans-Italic.woff") format('woff'), url("../lr-asset/fonts/Open_Sans/OpenSans-Italic.ttf") format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../lr-asset/fonts/Open_Sans/OpenSans-SemiBold.woff2") format('woff2'), url("../lr-asset/fonts/Open_Sans/OpenSans-SemiBold.woff") format('woff'), url("../lr-asset/fonts/Open_Sans/OpenSans-SemiBold.ttf") format('truetype');
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.clear:before,
.clear:after,
content ' ',
display table,
clear both,
.clear {
  *zoom: 1;
}
a.botton {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}
body {
  font-family: 'Open Sans', 'Ubuntu', 'Helvetica', 'Arial', Sans-serif;
  font-size: 16px;
}
::-moz-selection {
  background: #f79937;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #f79937;
  color: #fff;
  text-shadow: none;
}
