// @source http://smacss.com/book/type-state
//
// State Rules
//
// A state is something that augments and overrides all other styles.
// For example, an accordion section may be in a collapsed or expanded state.
// A message may be in a success or error state.
//
// States are generally applied to the same element as a layout rule or
// applied to the same element as a base module class.
//
// ==========================================================================
// $States
// ==========================================================================


// Color White
.text-white
	h1, h2, h3, h4, h5, h6
		color white
	p, li
		color rgba(white, $ma_opa_lightText-Primary)
	a
		color white
		transition opacity ease-in-out 0.3s, color ease-in-out 0.3s, background ease-in-out 0.3s
		&:hover
			color white
			opacity $ma_opa_lightText-Secondary
	hr
		border-top 1px solid rgba(255, 255, 255, 1);
	.navbar-brand
		transition all ease-in-out 0.3s
		&::before
			content " "
			display block
			background-image url('/wp-content/themes/Loginradius_Partner-Portal-2018/img/logo-w.svg')
			position absolute
			top 50%
			left 0
			height 32px
			width 100%
			transform translate(0%, -50%)
		&::after
			color white
		img
			opacity 0
	.navbar-toggler
		.material-icons
			color white
	.btn
		&:hover
			opacity 1
		&[class*="btn-"]
			a
				color white
				border 1px solid rgba(255,255,255, $ma_opa_darkText-Secondary )

				
.underline
	text-decoration underline

@import 'print.styl'
@import 'response.styl'


