// ==========================================================================
// $Print
// Inlined to avoid required HTTP connection: h5bp.com/r
// ==========================================================================