// ==========================================================================
// Response Layout
// ==========================================================================

//Sections - Big Button right section
section.response-lay-bigB-right
	@media (max-width: 768px)
		.text-right.res-btn
			text-align left !important
			.btn
				margin-left 0
				margin-top 1rem
				
//Footer - Partnership
footer.response-lay-v1
	@media (max-width: 768px)
		.footer-block.float-right.res
			float left !important
			margin-top 8px
			