// Overwrite
//
// [These styles overwrite] all other layers, and has the power
// to override anything at all that has gone before it. It is
// inelegant and heavy-handed, and contains utility and helper
// classes, and hacks.
//
// @source - http://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528

// ==========================================================================
// Gravity Form Overwrite
// ==========================================================================

.base-form
	h3
		text-align center
		margin-bottom 1em
	.gform_wrapper
		ul.gform_fields li.gfield
			padding-right 0
		label.gfield_label
			font-weight 600
		.gfield_required
			color $lr_col_sys_Orange-light
		input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), option
			padding-left .75em
		div.ginput_container
			input
			select
				background white
				border-radius 4px
				border 1px solid $ma_col_grey300
				&:placeholder
					opacity $ma_opa_darkText-Secondary
				&:hover
					border 1px solid $lr_col_brandBlue-light
				&:focus
				&:active
					border 1px solid $lr_col_brandBlue-light
					box-shadow none
					color $lr_base_text_color
		.gform_page_footer input, .gform_footer input
			width 100% !important
			background $lr_col_sys_Orange-normal
			color white
			@extend a.btn
			&:hover
				background $lr_col_sys_Orange-light
				transform: scale(1.05, 1.05)
				box-shadow $drop-shadow-depth-1
			&:focus
				border none

			
			
		
			