// @source http://smacss.com/book/type-layout
//
// Layout Rules
//
// Layout styles can also be divided into major and minor styles based on
// reuse. Major layout styles such as header and footer are traditionally
// styled using ID selectors but take the time to think about the elements
// that are common across all components of the page and use class selectors
// where appropriate.

// ==========================================================================
// Navigation
// ==========================================================================
.navbar
	width 100%
	height 80px
	transition all 0.3s ease-in-out
	justify-content center
	&-brand
		padding .75em 0
	&-fixed-top
		position fixed
		top 0
		z-index 100
	&-nav-right
		justify-content flex-end
	&-toggler
		align-self center
	&.nav-up
		top: -80px
	
.nav-container
	display flex
	flex-wrap nowrap
	align-items center
	width 100%
	max-width 1140px
	margin 0 auto
	align-items center
	position relative
	justify-content space-between
	@media (min-width: 576px)
		padding-right: 16px;
		padding-left: 16px;
		
.navbar-nav // Nav spacing
	flex-direction row
.nav-item
	transition color ease-in-out 0.3s
	&:last-of-type
		margin-right -1em
	a
		display inline-block
		padding 0.5em 1em
		cursor pointer
		@media (max-width: 991px)
			padding 0.5em .5em

// ==========================================================================
// Main
// ==========================================================================
main
	padding-top 80px
	&.partner
		min-height calc(100vh - 200px) /*Sticky Footer*/
.res-container
	width 100%
	margin 0 auto
	max-width 1140px
	padding-right: 16px;
	padding-left: 16px;
	@media (max-width: 1173px)
		padding-right: 32px;
		padding-left: 32px;
	@media (max-width: 575px)
		padding-right: 0px;
		padding-left: 0px;
.res-container-row
	@media (max-width: 575px)
		padding-right: 16px;
		padding-left: 16px;

// ==========================================================================
// Gravity Form Layout
// ==========================================================================
.base-form.trial-form
	ul.gform_fields
		@media (min-width: 768px)
			display grid
			grid-template-columns 50% 50%
			grid-gap 1em
			width calc(100% - 16px)
			//Span All column
			li.gfield:first-of-type
			li#field_1_13
			li#field_2_5
			li#field_2_10
			li#field_2_14
			li#field_2_15
				grid-column-start 1
				grid-column-end 3
				
//Checkbox Layout
ul.gfield_checkbox
	@extend .base-form.trial-form ul.gform_fields
	grid-row-gap 0
li#field_2_11 
	@extend .base-form.trial-form ul.gform_fields li.gfield:first-of-type
	
// ==========================================================================
// Absolute center
// ==========================================================================
.center-abs
	@media (min-height: 500px)
		display block
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
.center-abs-obj
	display block
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)		

// ==========================================================================
// Column Modification 
// ==========================================================================
.no-gutter > [class*='col-']
	padding-right 0
	padding-left 0

.row.no-gutter
	margin 0
	
// ==========================================================================
// Cards
// ==========================================================================

//Size Control
[class*='card-big-']
	min-height 70vh
	max-height 500px
	
.card-big-
	&login
		@media (max-width: 767px)
			min-height 0px
		p:last-of-type
			margin-bottom 0
		&.px-5
			@media (max-width: 576px)
				padding-left 2rem !important
				padding-right 2rem !important
		&.py-5
			@media (max-width: 576px)
				padding-top 2rem !important
				padding-bottom 2rem !important
		> div
			width 100%


// ==========================================================================
// Background Postion
// ==========================================================================
.bg-cover
	background-repeat no-repeat
	background-position center center
	background-size cover
	
.bg-center
	background-repeat no-repeat
	background-position center center
	background-size contain

// ==========================================================================
// Postion
// ==========================================================================
.height-spacer
	min-height 55vh
	max-height 500px

.fix-top
	position fixed
	@media (max-width: 768px)
		width 100%
		position relative 
	&.side-menu-res
		@media (max-width: 768px)
			position relative
			
// ==========================================================================
// Video Plugin
// ==========================================================================
//video	
.video_popout
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background-color: rgba(0,0,0,0.75)
	z-index: 99999999999
	display: flex
	justify-content: center
	align-items: center
	animation: pop 300ms linear both
	.video
		position: relative
		display: flex
		justify-content: center
		align-items: center
		max-width: 960px
		width: 100%
		// > div
		// 	display initial
		iframe
			 width: 100%
	
@keyframes pop
	0% { opacity: 0; top: -100%; bottom:100%;}
	100% { opacity: 1; top: 0; bottom: 0; left:0; right:0;}
	
.video_popout i
	position: absolute;
	color: white;
	top: 0px; // refer to this issues https://vimeo.com/forums/help/topic:291053
	right: 0;
	transform: translate(100%, -100%);
	cursor: pointer;
	background: rgba(255, 255, 255, .25);
	border-radius: 50%;
	padding: 8px;
	opacity: 0.75;
	font-size: 16px;

// ==========================================================================
// content
// ==========================================================================
[class*='content']
	display block
.content
	&-partner
		padding-bottom 1rem

.layout
	display flex
	width 100%
	&.layout-l2-r10
		.col-l2
			display inline-block
			width 190px
			margin-right 2rem
			@media (max-width: 768px)
				width 100%
				position relative 
				margin-right 0rem
		.col-r10
			display inline-block
			width 100%
		@media (max-width: 768px)
			flex-direction column
			
	






