// @source http://smacss.com/book/type-layout
//
// Layout Rules
//
// Layout styles can also be divided into major and minor styles based on
// reuse. Major layout styles such as header and footer are traditionally
// styled using ID selectors but take the time to think about the elements
// that are common across all components of the page and use class selectors
// where appropriate.

// ==========================================================================
// Navigation
// ==========================================================================
.navbar
	width 100%
	height 80px
	transition all 0.3s ease-in-out
	&-brand
		padding .75em 0
	&-fixed-top
		position fixed
		top 0
		z-index 10
	&-nav-right
		justify-content flex-end
	&-toggler-right
			align-self center
	&.nav-up
		top: -80px
	
.nav-container
	display flex
	flex-wrap nowrap
	align-items center
	width 100%
	max-width 1140px
	margin 0 auto
	align-items center
	@media (min-width: 576px)
		padding-right: 16px;
		padding-left: 16px;
	
// ==========================================================================
// Main
// ==========================================================================
main
	padding-top 80px

