// @source http://smacss.com/book/type-layout
//
// Layout Rules
//
// Layout styles can also be divided into major and minor styles based on
// reuse. Major layout styles such as header and footer are traditionally
// styled using ID selectors but take the time to think about the elements
// that are common across all components of the page and use class selectors
// where appropriate.

// ==========================================================================
// Navigation
// ==========================================================================
.navbar
	width 100%
	height 80px
	transition all 0.3s ease-in-out
	&-brand
		padding .75em 0
	&-fixed-top
		position fixed
		top 0
		z-index 100
	&-nav-right
		justify-content flex-end
	&-toggler-right
			align-self center
	&.nav-up
		top: -80px
	
.nav-container
	display flex
	flex-wrap nowrap
	align-items center
	width 100%
	max-width 1140px
	margin 0 auto
	align-items center
	@media (min-width: 576px)
		padding-right: 16px;
		padding-left: 16px;
		
.navbar-nav // Nav spacing
	flex-direction row
.nav-item
	transition all ease-in-out 0.3s
	&:last-of-type
		margin-right -1em
	a
		display block
		padding 0.5em 1em
		cursor pointer
// ==========================================================================
// Main
// ==========================================================================
main
	padding-top 80px
	
.res-container
	width 100%
	margin 0 auto
	max-width 1140px
	@media (min-width: 576px)
		padding-right: 16px;
		padding-left: 16px;

// ==========================================================================
// Gravity Form Layout
// ==========================================================================
.base-form.trial-form
	ul.gform_fields
		@media (min-width: 768px)
			display grid
			grid-template-columns 50% 50%
			grid-gap 1em
			width calc(100% - 16px)
			//Span All column
			li.gfield:first-of-type
			li#field_1_13
			li#field_2_5
			li#field_2_10
			li#field_2_14
			li#field_2_15
				grid-column-start 1
				grid-column-end 3
				
//Checkbox Layout
ul.gfield_checkbox
	@extend .base-form.trial-form ul.gform_fields
	grid-row-gap 0
li#field_2_11 
	@extend .base-form.trial-form ul.gform_fields li.gfield:first-of-type
	
// ==========================================================================
// Absolute center
// ==========================================================================
.center-abs
	@media (min-height: 500px)
		display block
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
.center-abs-obj
	display block
	position absolute
	top 50%
	left 50%
	transform translate(-50%, -50%)		

// ==========================================================================
// Column Modification 
// ==========================================================================
.no-gutter > [class*='col-']
	padding-right 0
	padding-left 0

.row.no-gutter
	margin 0
	

// ==========================================================================
// Cards
// ==========================================================================

//Size Control
[class*='card-big-']
	min-height 70vh
	max-height 500px
	
.card-big-
	&login
		@media (max-width: 767px)
			min-height 0px
		p:last-of-type
			margin-bottom 0
		&.px-5
			@media (max-width: 576px)
				padding-left 2rem !important
				padding-right 2rem !important
		> div
			width 100%


// ==========================================================================
// Background Postion
// ==========================================================================

.bg-cover
	background-repeat no-repeat
	background-position center center
	background-size cover




