///* Brand colour *///
$lr_col_brandBlue = #2299DD
$lr_col_brandBlack = #0A2135

$lr_col_brandBlue-dark = #1C7EB5
$lr_col_brandBlue-light = #2ECAB5
$lr_col_brandBlack-dark = #1C7EB5
$lr_col_brandBlack-light = #091C2C

$lr_col_sys_Orange-normal = #f6830b
$lr_col_sys_Orange-dark = #CA6C0A
$lr_col_sys_Orange-light = #F79937
$lr_col_sys_Blue-normal = #0076bd
$lr_col_sys_Blue-dark = #00619B
$lr_col_sys_Blue-light = #2E8EC9
$lr_col_sys_LightBlue-normal = #48c9ff
$lr_col_sys_LightBlue-dark = #3BA5D1
$lr_col_sys_LightBlue-dark = #69D2FF
$lr_col_sys_green-normal = #00BFA5
$lr_col_sys_green-dark = #009D88
$lr_col_sys_green-light = #2ECAB5

$ma_col_grey50 = #fafafa
$ma_col_grey100 = #f5f5f5
$ma_col_grey200 = #eeeeee
$ma_col_grey300 = #E0E0E0
$ma_col_grey400 = #BDBDBD
$ma_col_grey500 = #9E9E9E
$ma_col_grey600 = #757575
$ma_col_grey700 = #616161
$ma_col_grey800 = #424242
$ma_col_grey900 = #212121

//Opacity
$ma_opa_darkText-Primary = 0.8
$ma_opa_darkText-Secondary = 0.54
$ma_opa_darkText-Disabled = 0.38
$ma_opa_darkText-light = 0.12
$ma_opa_lightText-Primary = 1
$ma_opa_lightText-Secondary = 0.7
$ma_opa_lightText-Disabled = 0.5
$ma_opa_lightText-light = 0.12

///* Typography *///

	