// ==========================================================================
// Button
// ==========================================================================


// on a object
a.btn
	display inline-block
	font-weight 600
	text-transform uppercase
	text-align: center;
	white-space: nowrap;
	// vertical-align: middle;
	user-select none
	border: 1px solid transparent;
	line-height 1
	border-radius 4px
	padding 16px 12px
	font-size 1rem
	transition all 0.3s ease-in-out
	&.btn-contain
		display inline-block
	&.btn-default
		border 1px solid $ma_col_grey500
	&.btn-primary
		border 1px solid $lr_col_sys_Blue-normal
		background $lr_col_sys_Blue-normal
		color white
		&:hover
		&:active
		&:focus
			border 1px solid $lr_col_sys_Blue-dark
			background $lr_col_sys_Blue-dark
	// &.btn-success
	// &.btn-info
	// &.btn-warning
	// &.btn-danger
	&.btn-link
		border 1px solid transparent
	&.btn-revese
		border 1px solid white
		background white
		&.lr_col_sys_Blue-dark
			color $lr_col_sys_Blue-dark
		&:hover
		&:active
		&:focus
			background rgba(255,255,255,0)
			color white

// on the li object
.btn
	display block
	width auto
	margin-left 0
	&.btn-primary
		border 1px solid $lr_col_sys_Blue-normal
		background $lr_col_sys_Blue-normal
		color white
		&:hover
		&:not([disabled]):not(.disabled):active
		&:focus
			border 1px solid $lr_col_sys_Blue-dark
			background $lr_col_sys_Blue-dark
		a
			text-transform uppercase
			text-align center
			white-space nowrap
			// vertical-align middle
			user-select none
			color white
			font-weight 600
			text-decoration none
	&.btn-link-like
		padding 0
	&.btn-see-all
		padding 0
		display inline-block
		font-size 12px
		text-transform none
		color $lr_col_sys_Blue-normal
		&:before
			content "("
			color $lr_col_brandBlack 
		&:after
			content ")"
			color $lr_col_brandBlack 
		&:hover
		&:active
		&:focus
			color $lr_col_sys_Blue-light
	&.btn-revese-border
		border 1px solid $ma_col_grey500
		background transparent
		&:hover
		&:active
		&:focus
			background $lr_col_brandBlack-light
			border 1px solid $lr_col_brandBlack-light
			
				
		
	


