// ==========================================================================
// Button
// ==========================================================================
$bucall

a.botton
	font-weight 500
	text-transform uppercase
	line-height 1
	border-radius 4px
	padding 16px 12px
	transition all 0.3s ease-in-out

