// Atoms
//
// If atoms are the basic building blocks of matter, then the atoms of
// our interfaces serve as the foundational building blocks that
// comprise all our user interfaces. Therefore these atoms would include
// basic HTML tags like form labels, inputs, buttons, and other elements
// that can’t be broken down any further without ceasing to be functional.
//
// @source - http://atomicdesign.bradfrost.com/chapter-2/


// ==========================================================================
// Image-sizing
// ==========================================================================
.constrained-icon
	display inline-block
	height 68px
	margin-bottom 12px
	
.inline-title-icon
	display inline-block
	height 24px
	margin-right .5rem
	vertical-align middle
// ==========================================================================
// Speical Insert
// ==========================================================================
.menu-CTA-notparter
	position relative
	&:before
		content 'Not a LoginRadius Partner?'
		display inline-block
		position absolute
		color $ma_col_grey600
		font-weight 500
		transform translate(-100%, -50%)
		line-height 100%
		font-size 14px
		left -18px
		top 50%
	


@import 'button.styl'
@import 'card.styl'
@import 'links.styl'