// ==========================================================================
// Links
// ==========================================================================


// Block Links
a.a-text-block-link
	h4
		display table
		position relative
	.btn-link-like
		color $lr_col_brandBlack
		box-shadow 0 1px 0 0 currentColor
		transition box-shadow 0.15s ease-in-out
		border-radius 0
	&:hover
	&:focus
	&:active
		text-decoration none
		h4
		p
		.btn-link-like
			color $lr_col_sys_Blue-normal
		.btn-link-like
			box-shadow 0 3px 0 0 $lr_col_sys_Blue-light
		.cls-1 //svg
			fill $lr_col_sys_Blue-light
		
		

//Vertial A Link List
[class*='a-link-list-v']
	li 
		margin-bottom 4px
		&:last-child
			margin-bottom 1rem
	a
		
		border-bottom 0px solid $lr_col_brandBlue
		transition all ease-in-out 100ms
		&:hover
			text-decoration none
			border-bottom 3px solid $lr_col_brandBlue
			position relative 
.a-link-list-v
	&-small-a
		a
			font-size 0.75rem
			color $lr_col_brandBlack
			transition font-weight ease-in-out 0.3s , color ease-in-out 0.3s,  border-bottom ease-in-out 0.3s
			&.current
				color $lr_col_brandBlue-dark
				// border-bottom 2px solid currentColor
				// font-weight 600
				&:before
					content ""
			&:hover
				color $lr_col_brandBlue
				border-bottom 1px solid $lr_col_brandBlue-light

//Block A Link List
[class*='a-link-list-block']
	a
		height 12rem
		padding 1rem
		@extend .h5
		font-weight 600
		display flex
		width 100%
		background-color $lr_col_brandBlue
		margin-bottom 20px
		transition all ease-in-out 100ms
		color white
		top 0px
		justify-content flex-end 
		flex-wrap wrap
		flex-direction column
		background-repeat no-repeat
		background-position center center
		transition background-color ease-in-out 0.3s, top ease-in-out 0.1s
		// background-image url("/wp-content/uploads/sites/9/2018/01/Partner-login.jpg")
		&.bg-white
			background-color white !important
			// border 1px solid $ma_col_grey300		
		&:hover
			// background-color rgba(74, 171, 227, 0.5)
			background-color $lr_col_brandBlue-dark
			position relative
			box-shadow $drop-shadow-depth-2
			top -4px
			text-decoration none
			*
				color white
			span:after
				text-decoration underline
				display block
				font-size 12px
			span.type-download:after
				content "Download"
			span.type-int:after
				content "View the Page"
			span.video:after
				content "Watch the Video"
		*
			color white
			margin-bottom 0
			font-weight 600
		span
			font-weight 400
			display block
			font-size 1rem
			text-transform uppercase	
	&.row
		margin-right -10px
		margin-left -10px
	[class*='col-']
		padding-right 10px
		padding-left 10px
		
//Block A Link video (over write the plugin)
.a-link-list.video
	justify-content flex-start
	div
		display inline-block
		width 100%
	.lr-resource-wrap
		display flex
		flex-wrap inherit
	h3
		@extend .h4
		padding-bottom 1rem
		// &:after
		// 	content "Video"
		// 	font-weight 400
		// 	display block
		// 	font-size 1rem
		// 	text-transform uppercase
	p
		display none
	.video_thumb
		background-size 120%
		background-repeat no-repeat
		background-position center
		border: solid 1px $ma_col_grey300
		height 150px
		position relative
		&:after
			content: " "
			position: absolute
			display: block
			background-color: rgba(0, 0, 0, 0.3);
			width: 100%
			height: 100%
			background-size: 20%
			background-repeat no-repeat
			background-position center
			background-image url("data:image/svg+xml;utf8,<svg fill='#FFFFFF' xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0z' fill='none'/><path d='M10 16.5l6-4.5-6-4.5v9zM12 2C6.5 2 2 6.5 2 12s4.5 10 10 10 10-4.5 10-10S17.5 2 12 2zm0 18c-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8-3.6 8-8 8z'/></svg>")
			transition all ease-in-out 0.3s
	a
		&:hover
		&:focus
			text-decoration none
			.video_thumb
				background-size 130%
				transition all ease-in-out 0.3s
				&:after
					background-color: rgba(0, 0, 0, 0.12);
			



