// ==========================================================================
// Button
// ==========================================================================
$bucall

a.botton
	font-weight 600
	text-transform uppercase
	line-height 1