// ==========================================================================
// Footer
// ==========================================================================
.footer
	.logo-img
		transition all ease-in-out 0.3s
		height 28px
		// opacity $ma_opa_lightText-Secondary
		&:hover
			opacity $ma_opa_lightText-Primary
	p
		// opacity $ma_opa_lightText-Secondary
		font-size 14px
	hr
		opacity $ma_opa_lightText-light
	.footer-link
		span
			opacity $ma_opa_darkText-Disabled
		a
			display inline-block
			font-size 12px
			position relative
			z-index 2
			// opacity $ma_opa_lightText-Secondary
			&:hover
				color $lr_col_sys_LightBlue-light
				opacity $ma_opa_lightText-Primary
				text-decoration none


