// Molecules
//
// In chemistry, molecules are groups of atoms bonded
// together that resultantly take on new properties.
// In interfaces, molecules are relatively simple groups of
// UI elements functioning together as a unit. For example,
// a form label, search input, and button can combine them
// together to create a search form molecule.
//
// @source - http://atomicdesign.bradfrost.com/chapter-2/


// ==========================================================================
// Listd
// ==========================================================================

//Vertial A Link List
ul.a-link-list-v
	li 
		margin-bottom 8px
		&:last-child
			margin-bottom 0
	a
		border-bottom 0px solid $lr_col_brandBlue
		transition all ease-in-out 100ms
		&:hover
			text-decoration none
			border-bottom 3px solid $lr_col_brandBlue


@import 'navigation.styl'
@import 'prograssBar.styl'
@import 'footer.styl'