// ==========================================================================
// Navigation
// ==========================================================================
.navbar
	& .has-depth
		box-shadow $drop-shadow-depth-1
	a
		color $lr_col_brandBlue
		font-weight 400
		text-decoration none
		cursor pointer
		font-size 13px
		&:hover
			opacity $ma_opa_lightText-Secondary
	.btn
		a
			font-size 0.85rem
			&:hover
				opacity 1 //Btn is not effecred by the opacity
