// ==========================================================================
// Navigation
// ==========================================================================
.navbar
	& .has-depth
		box-shadow $drop-shadow-depth-1
	a
		color $lr_col_brandBlack
		font-weight 400
		text-decoration none
		cursor pointer
		font-size 14px
		transition color ease-in-out 0.3s
		// text-transform uppercase
		&:hover
			// opacity $ma_opa_lightText-Secondary
			color $lr_col_brandBlue
	.btn
		margin-left 1rem
		@media (max-width: 991px)
			margin-left 0.5rem
		a
			font-size 0.85rem
			color white
			&:hover
				opacity 1 //Btn is not effecred by the opacity
		&.btn-revese-border
			a
				color $lr_col_brandBlack-light
				font-weight 600
			&:hover
				a
					color white
					
.navbar-inverse
	.navbar-toggler
		border none !important
		padding 0rem 0rem
		.material-icons
			color $lr_col_brandBlack
			display block
			font-size 1.75rem

// ==========================================================================
// Navigation - Mobile Menu
// ==========================================================================
.navbar-collapse.partner
	@media (max-width: 767px)
		// box-shadow inset 0 5px 11px -6px rgba(0,0,0,.16), inset 0 4px 15px -5px rgba(0,0,0,.12), $drop-shadow-depth-1
		box-shadow $drop-shadow-depth-2
		position absolute
		background $lr_col_brandBlack
		z-index 90
		width 100vw
		top 66px
		left -16px
		.navbar-nav
			width 100%
			flex-direction column
			padding-top 1rem
			padding-bottom 2rem
			align-items left
			padding-right 2em
			padding-left  2rem
			@media (max-width: 576px)
				padding-right 1em
				padding-left  1rem
		.nav-item a
			padding 0.5rem 0rem
			color white !important
			font-size 14px
			transition opacity ease-in-out 0.3s, color ease-in-out 0.3s, background ease-in-out 0.3s
			&:hover
				color $lr_col_sys_LightBlue-light !important
		.btn[class*="btn-"]
			margin-left 0
			margin-top 1rem
			display inline-block
			width fit-content
			a
				color white !important
				border 1px solid rgba(255,255,255, $ma_opa_darkText-Secondary ) !important
				background transparent !important
				&:hover
					// color $lr_col_sys_LightBlue-light !important
					// border 1px solid $lr_col_sys_LightBlue-light !important
					background transparent
					border 1px solid rgba(255,255,255, 1 ) !important

// ==========================================================================
// Navigation - Side menu
// ==========================================================================
@media (max-width: 768px)
	.side-menu-res
		position absolute
		right 0
		z-index 10
		button
			padding 0
			margin-left auto
			i 
				font-size 2rem
				color $ma_col_grey700
		ul
			background-color white
			box-shadow $drop-shadow-depth-3
			padding-top 0rem
			padding-bottom 0rem
			li, li:last-child
				margin-bottom 0
			a
				font-size 0.75rem
				padding-left 1rem
				padding-right 1rem
				padding-top 0.5rem
				padding-bottom 0.5rem
				display block
				&:hover
				&.current
					color white
					background-color $ma_col_grey600
					border-bottom 0px solid $lr_col_brandBlue-light
				









