// ==========================================================================
// Navigation
// ==========================================================================
.navbar
	& .has-depth
		box-shadow $drop-shadow-depth-1
	a
		color $lr_col_brandBlue
		font-weight 400
		&:hover
			opacity $ma_opa_lightText-Secondary